// Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,200");

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
    font-family: "Montserrat";
}

.card-columns {
    @include media-breakpoint-only(xs) {
        column-count: 2;
    }
    @include media-breakpoint-only(md) {
        column-count: 3;
    }
    @include media-breakpoint-only(lg) {
        column-count: 5;
    }
    @include media-breakpoint-only(xl) {
        column-count: 6;
    }

    column-gap: 0;
}

.card-columns .card {
    margin-bottom: 0;
}

.card-img {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
